.carrossel-titulo{color: var(--laranja);
background-color: var(--branco);
text-align: center;
text-transform: uppercase;
font-size: 18px;
font-weight: 700;
padding: 1em 0 0.5em 0;

}

.card-descricao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
    
}
    
.descicao-titulo{
    color: var (--laranja);
    font-weight: 700;
    font-size: 20px;
}
.card-botoes{
    display: flex;
    justify-content: space-between;
    
    
}
.botoes{
    display: flex;
}
.titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em, 0; 
}
.descricao-texto{
    font-size: 14px;
    color: var(--laranja);
}

.botoes-ancora{
    text-decoration: none;
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
}